<h4>
  Hey <%= @user.first_name %>!
</h4>

<p>
  Welcome to Travel.Meet.Play and thanks for signing up.
</p>

<br>

<p>
  We're a small start-up based in Tokyo, looking to match passionate travellers and locals that want to play their favourite sports around the world. We believe that sports are an international language through which you can have amazing experiences and learn more about other cultures.
</p>

<br>

<p>
  Simply click <%= link_to "HERE", events_url %> to access your platform.
</p>

<br>

<p>
  We hope you have a great time using our service, and don't forget to HIGHLIGHT YOUR GAME!
</p>

<p>
  Thanks for using Travel. Meet. Play.
</p>

<p>
  The T.M.P. team.
</p>
