<div class="container">
  <div class="profile-content">
    <%= render 'profile_format' %>
    <%= render 'profile_sportformat' %>
  </div>
</div>
  <%= link_to events_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

