<div class="footer footermain site-footer">
  <div class="footer-copyright">
    <%= image_tag "logo_footer.png", height: 50, class: "footer-logo" %>
    <strong>©</strong> Travel. Meet. Play. (2018)
  </div>
  <div>
    <div class="footer-links">
      <a href="https://www.instagram.com/travelmeetplay/" target="_blank" class="footlinks"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/Travel-Meet-Play-182421305869840/" target="
      _blank" class="footlinks"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/travelmeetplay" target="
      _blank" class="footlinks"><i class="fab fa-twitter"></i></a>
      <a href="https://en.hubtokyo.com/" target="
      _blank" class="footlinks"><i class="fas fa-location-arrow"></i></a>
    </div>
  </div>
</div>
