<div class="container">
  <div class="row">
    <%= render 'my_created_events' %>
    <%= render 'my_booked_events' %>
  </div>
  <%= link_to events_path do %>
    <i class="fas fa-arrow-left"></i></i>
  <% end %>
</div>

