<div class="container">
  <div class="row boxer">
    <%= render 'event_sport_status' %>
    <%= render 'event_registered_players' %>
  </div>
  <%= link_to events_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
