<h4>
  Hey <%= @booking.event.host.first_name %>!
</h4>

<p>
  We've got news for you. Someone has requested to join your event!
</p>

<br>

<p>
  You can quickly access your event <%= link_to "HERE", dashboard_url %>.
</p>

<br>

<p>
  We hope you have a great time, and don't forget to HIGHLIGHT YOUR GAME!
</p>

<p>
  Thanks for using Travel. Meet. Play.
</p>

<p>
  The T.M.P. team.
</p>
