<div class="container">
  <div class="row">
    <%= render 'profile_details' %>
    <%= render 'profile_sports' %>
  </div>
  <%= link_to events_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
