<div class="container">
  <div class="row">
    <%= render 'profile_details' %>
    <%= render 'profile_sports' %>
  </div>
</div>

<%= link_to events_path do %>
  <i class="fas fa-chevron-circle-left back-button"></i>
<% end %>
