.btn-landing {
  color: #f15a23;
  background-color: white;
  border: 4px solid #f15a23;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 35px;
  opacity: 0.8;
  transition: box-shadow 0.1s;
  &:hover{
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    opacity: 1;
    color: #f15a23;
  }
}

