.btn-landing {
  color: white;
  background-color: #f15a23;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 35px;
  opacity: 0.8;
  transition: box-shadow 0.1s;
  &:hover{
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    opacity: 1;
    color: white;
  }
}

.btn-search {
  margin-top: 7px;
  background-color: white;
  font-size: 20px;
  color: #747B86;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  &:hover {
    border-color: white;
    background-color: white;
    color: #f15a23;
  }
}

.map-button {
  width: 80px;
  height: 28px;
  font-size: 12px;
  border-radius: 3px;
  padding: 1px 3px;
  a {
    color: white;
    font-weight: bold;
  }
  color: white !important;
  background-color: #f15a23;
  opacity: 0.8;
  &:hover{
  text-decoration: none !important;
  opacity: 1;
  }
}

.back-button {
  font-size: 30px;
}

.navbar-button {
  background-color: white;
  font-size: 20px;
  color: #f15a23;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  &:hover {
    border-color: white;
    background-color: white;
    color: #BC3B0C;
  }
}

.update-button {
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-color: #f15a23;
  &:hover {
    border-color: #d4420d;
  }
}

.profile-save-button {
  color: #f15a23;
  font-size: 22px;
  background-color: white;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  &:hover {
    border-color: white;
  }
}

.add-skill-button {
  background-color: white;
  font-size: 20px;
  color: #f15a23;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-color: white;
  &:hover {
    border-color: white;
    background-color: white;
    color: #f15a23;
  }
}

.approve-button {
  background-color: white;
  font-size: 20px;
  color: #f15a23;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-color: white;
  &:hover {
    border-color: white;
    background-color: white;
    color: #f15a23;
  }
}

.decline-button {
  background-color: white;
  font-size: 20px;
  color: #f15a23;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-color: white;
  &:hover {
    border-color: white;
    background-color: white;
    color: #f15a23;
  }
}
