.btn-landing {
  color: white;
  background-color: #f15a23;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 35px;
  opacity: 0.8;
  transition: box-shadow 0.1s;
  &:hover{
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    opacity: 1;
    color: white;
  }
}

.btn-search {
  margin-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  background-color: #f15a23;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 20px;
  opacity: 0.8;
  transition: box-shadow 0.1s;
  &:hover{
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    opacity: 1;
  }
}

.map-button {
  width: 80px;
  height: 28px;
  font-size: 12px;
  border-radius: 3px;
  padding: 1px 3px;
  a {
    color: white;
    font-weight: bold;
  }
  color: white !important;
  background-color: #f15a23;
  opacity: 0.8;
  &:hover{
  text-decoration: none !important;
  opacity: 1;
  }
}

