.card {
  position: relative;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 240px;
  height: 265px;
  padding: 5px 5px;
  color: black;
  background-color: white;
  position: relative;
  border-radius: 2px;
  margin: 10px auto;
  h4 {
    text-align: left;
  }
  p {
    text-align: center;
  }
  &:hover{
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
}

.card-photo {
  width: auto;
  height: 80px;
  align: center;
  text-align: center;
  border-style: solid;
  border-color: #eff2f1;
  margin: 10px 5px;
}

.all-cards {
  flex-grow: 1;
  margin: 10px;
  a:hover{
    text-decoration: none;
  }
}

.home {
  display: flex;
  margin: 10px 10px;
}
