.card {
  border-bottom: 2px solid #eff2f1;
  border-top: 2px solid #eff2f1;
  position: relative;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 360px;
  height: 280px;
  padding: 5px 5px;
  color: black;
  background-color: white;
  position: relative;
  margin: 10px auto;
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  &:hover{
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-bottom: 0 solid #ffffff;
    border-top: 0 solid #ffffff;
  }
}

.card-photo {
  width: auto;
  height: 80px;
  align: center;
  text-align: center;
  border-style: solid;
  border-color: #eff2f1;
  margin: 10px 5px;
}

.all-cards {
  flex-grow: 1;
  margin: 10px;
  a:hover{
    text-decoration: none;
  }
}

.home {
  display: flex;
  margin: 10px 10px;
}
