.card {
  position: relative;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 210px;
  height: 280px;
  padding: 5px 5px;
  color: black;
  background-color: white;
  position: relative;
  margin: 10px 10px;
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  &:hover{
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-bottom: 0 solid #ffffff;
    border-top: 0 solid #ffffff;
  }
}

.card-photo {
  width: auto;
  height: 80px;
  align: center;
  text-align: center;
  border-style: solid;
  border-color: #eff2f1;
  margin: 10px 5px;
}

.all-cards {
  flex-grow: 1;
  margin: 10px;
  a:hover{
    text-decoration: none;
  }
}

.home {
  display: flex;
  margin: 10px 10px;
}

.map-logo {
  width: auto;
  height: 24px;
}

// #map {
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0 !important;
// }

.mapper {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 70px !important;
}

