.footermain {
  color: #747B86;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin: 10px 20px;
  height: 50px;
  background-color: transparent !important;
}

.footlinks {
  color: #747B86;
  margin: 5px;
  &:hover {
    color: #f15a23;
  }
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 40px;
}
.site-footer {
  background: orange;
}

.footer-logo {
  border-right: 1px solid #eff2f1;
}
