.footermain {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  height: 50px;
  background-color: transparent !important;
}

.footlinks {
  color: black;
  margin: 5px;
  &:hover {
    color: #f15a23;
  }
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
}
.site-footer {
  background: orange;
}
