.right-banner {
  text-align: left;
  flex-basis: 45%;
  margin-bottom: 90px;
  margin-top: 60px;
  margin-left: 20px;
  font-family: "roboto", "sans-serif";
  color: black;
  p {
    font-size: 25px;
    font-weight: normal;
    opacity: 0.75;
  }
}

.get-started {
  margin-left: 20px;

}

.upper-side {
  margin-bottom: 100px;
  margin-top: 40px;
}

.main-logo {
  width: 100%;
  height: auto;
}

.landing {
  margin-top: 30px;
  background-color: transparent;
  height: 100vh;
}

.landing-page {
  background-image: url(asset-path("background.jpg"));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}
