.right-banner {
  text-align: left;
  flex-basis: 45%;
  margin-bottom: 90px;
  margin-top: 60px;
  margin-left: 20px;
  font-family: "roboto", "sans-serif";
  color: black;
  p {
    font-size: 25px;
    font-weight: normal;
    opacity: 0.75;
  }
}

.get-started {
  margin-left: 20px;

}

.upper-side {
  margin-top: 40px;
}

.main-logo {
  width: 100%;
  height: auto;
}

.landing {
  margin-top: 30px;
  background-color: transparent;
  height: 75vh;
}

.landing-page {
  background-image: url(asset-path("background.jpg"));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.discription-box {
  padding: 50px;
  text-align: center;
  background-color: #26c9c4;
  font-family: "roboto", "sans-serif";
  color: white;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img{
  height: 250px;
}

.sports img{
  height: 200px;
}

.how-to {
  margin-bottom:50px;
  padding: 50px;
  text-align: center;
  background-color: white;
  font-family: "roboto", "sans-serif";
}

.how-to-icon img{
  height: 200px;
}

.top-button{
  margin-top:50px;
  margin-bottom:50px;
}
