.signin-back {
    background: url('background2.jpg') no-repeat fixed center center;
    background-size: cover;
}

.title {
    width: 400px;
    height: auto;
}

.login-block {
    width: 360px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    border-top: 10px solid #f15a23;
    margin: 30px auto;
    box-shadow: 1px 1px 2px rgba(150,150,150,0.8);
    box-shadow: -1px -1px 2px rgba(150,150,150,0.8);
}

.login-block input:active, .login-block input:focus {
  border: 1px solid #f15a23;
}

.button {
    width: 100%;
    height: 40px;
    background: #f15a23;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: #f15a23;
    opacity: 1;
    color: white;
}
